@media (max-width: 1450px) {
    .skills--section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .division--line {
        display: none;
    }
    .division {
        display: block;
    }
}

@media (max-width: 1285px) {
    .projects--section {
        height: auto;
    }
    .form--conatiner {
        width: 100%;
    }
}
@media (max-width: 1285px) {
    .contact--logo {
        display: none;
    }
    .form--conatiner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
    }
}

@media (max-width: 950px) {
    .skills--section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .division--line {
        display: none;
    }
}
@media (max-width: 900px) {
    .hero--section {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 8em;
        padding-bottom: 3em;
        gap: 4em;
    }
}
@media (max-width: 850px) {
    .about {
        display: none;
    }
    .skills--wrapper {
        align-items: center;
    }
}
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .navigation {
        display: flex;
        justify-content: space-evenly;
        padding: 2em;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav--list {
        position: fixed;
        top: -150%;
        gap: 10px;
        flex-direction: column;
        background-color: var(--primary-bg-color);
        color: var(--primary-text-color);
        width: 100%;
        height: auto;
        transition: 0.5s;
    }
    
    .nav--list.active {
        top: 0;

    }
    
}

@media (max-width: 565px) {
    .contact--section {
        width: 100%;
    }
}
@media (max-width: 550px) {
    
    .photo--wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .header {
        align-self: center;
    }
    .projects--wrapper {
        width: 100%;
    }
    .project {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .description {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .levels--container {
        width: 100%;
    }

}
@media (max-width: 450px) {
    .skill--container {
        flex-direction: column;
        width: 100%;
    }
    .skills--section {
        height: auto;
    }
    .skills--wrapper {
        height: auto;
        gap: 2em;
        width: 100%;
    }
    .project--body {
        display: none;
    }
    .inp,.text,.send-btn {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .photo--wrapper {
        width: 100%;
    }
    .header {
        width: 100%;
    }
}