* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.navigation {
    padding: 10px;
    
}
.nav--list {
    display: flex;
    gap: 84px;
    justify-content: center;
}